*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

body{
    margin-top: 20px;
    padding: 0px;
    max-width: 100%;
    min-width: 100%;
}

nav{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
}

nav h1{
    font-weight: bold;
    font-size: 30px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.names{
    color: orange;
}


/* all buttons */

.all-button{
    background-color: orange;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}



.hero-parent{
    max-width: 1220px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-btns{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.hero-btn{
    background-color: orange;
    color: white;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.hero-btn2{
    background-color: rgb(255, 255, 255);
    color: orange;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid orange;
}

.hero-parent h3{
    color: orange;
    font-weight: bold;
    font-size: 20px;

}

.hero-parent h1{
    color: blueviolet;
    font-size: 40px;

}


.ppp{
    background-color: #fffeed;
}


.about-section{
    max-width: 1000px;
    padding: 80px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: #fffeed;
}

.about-names{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.about-names .namee{
    display: flex;
    flex-direction: column;
    align-items: center;
}