*{
    font-family: "Open Sans", sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    min-width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:beige;
    margin: 20px;
    padding: 10px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.names{
    color: orange;
}