*{
    font-family: "Open Sans", sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    min-width: 100%;
}

nav{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    background-color:#D3D3D3;
    margin: auto;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
}

nav h1{
    font-weight: bold;
    font-size: 30px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.names{
    color: orange;
}


/* all buttons */

.all-button{
    background-color: orange;
    color: white;
    border-radius: 5px;
    width: 65px;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}



.hero-parent{
    max-width: 1220px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-btns{
    display: flex;
    gap: 10px;
}

.hero-btn{
    background-color: orange;
    color: white;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.hero-btn2{
    background-color: rgb(255, 255, 255);
    color: orange;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid orange;
}

.hero-parent h3{
    color: orange;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-top: 2px;
}

.hero-parent h1{
    color: blueviolet;

}
